{% load socialaccount %}
 <a href=" {% provider_login_url 'kakao' %}">카카오로 회원가입</a>

{% for account in user.socialaccount_set.all %}
 
     {% comment %} show avatar from url {% endcomment %}
     <h2 style="text-transform:capitalize;">{{ account.provider }} account data</h2>
 
     <p><img width="50" height="50" src="{{ account.get_avatar_url }}"/></p>
 
     <p>UID: <a href="{{ account.extra_data.link }}">{{ account.account.uuid }}</a></p>
 
      <p>Username: {{ account.extra_data.username }}</p>
      <p>First Name: {{ account.extra_data.first_name }}</p>
      <p>Last Name: {{ account.extra_data.last_name }}</p>
 
      <p>Dashboard Link:
      <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></p>
      {% empty %}
      <p>you haven't any social account please</p>
    {% endfor %}

<div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>


{% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu">글 쓰기</a>
{% endif %}

{% for post in posts %}

    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}